# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# waitlist database
/emails.txt

# airdrop application database
/claims.json
/airdrop-applications.json
/referral-links.json

# env
.env
.env.local
.env.production
